/* Custom Css */

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #00d9a4;
}

a {
    color: #00d9a4;
}
body{
    background-color: #ababab;
}
* {
    font-family: 'Open Sans';
}
.nav-pills li a {
    border-radius: 0px;
    text-align: left;
    padding: 3px;
    padding-left: 24px;
}
.nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff; !important;
}
.nav-pills>li>a:focus, .nav-pills>li>a:hover {
    color: #00d9a4; !important;
}
#logo {
    width: 220px;
}
.nav {
    margin-top: 100px;
}